@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #141418;
    --white: #faf7f6;
    --foreground-rgb: 20, 20, 24;
    --background-start-rgb: 227, 219, 217;
    --background-end-rgb: 224, 215, 213;
}

@media (prefers-color-scheme: dark) {
    :root {
        --black: #e0d7d5;
        --white: #232121;
        --foreground-rgb: 224, 215, 213;
        --background-start-rgb: 35, 33, 33;
        --background-end-rgb: 20, 20, 24;
    }
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Bold.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Regular.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Light.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@layer base {
    html, body {
        min-height: 100%;
    }

    html {
        font-family: 'BallingerMono', monospace;
    }

    ::selection {
        color: var(--white);
        background: #FF4100;
    }

}
